<%- include('./loader.html') %>
<%- include('settings') %>

<html>

<head>
  <link rel="stylesheet" href="./css/colores.css">
  <link rel="stylesheet" href="./css/laboratorio.css">
  <link rel="stylesheet" href="./css/settings.css">

  <title>LABORATORIO</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="./js/colores.js"></script>
</head>

<body>
  <div class="menu_filter">
    <div class="menu">
      <div class="close fa-solid fa-xmark"></div>
      <div><input type="checkbox" id="wireframe"><label for="wireframe">Estilo wireframe en atomos</label></div>
    </div>
  </div>

  <canvas id="canvaElemento"></canvas>

  <div class="alert-box">
	<img src="./resources/img/navbar-logo.gif">
	<div class="text">Haz tu primer enlace!</div>
  </div>
  <div class=trashcan><i class="fa-solid fa-trash"></i></div>

  <div class="toolbox">
    <input type="text" name="buscar" id="searchbox" class="block" placeholder="Buscar...">

  <% 
  switch (get) {
	  case 'dalton': %>
      <%- include('toolboxDalton') %>
	  <% break;

	  case 'lewis': %>
		  <%- include('toolboxLewis'); %>
	  <% break;
  } %>
 </div>

  <div class="objectInfo">
    <canvas id="canvaInfo"></canvas>
    <div class="info">
    </div>
  </div>
</body>

<% switch (get) { 
    case 'dalton' : %>
	<script src="./js/laboratorio/dalton/index.js" type="module"></script>
	<script src="./js/laboratorio/dalton/toolbox.js"></script>
  <script src="./js/laboratorio/dalton/settings.js"></script>
<% break; 

case 'lewis' : %>
	<script src="./js/laboratorio/lewis/index.js" type="module"></script>
  <script src="./js/laboratorio/lewis/settings.js" type="module"></script>
    <script src="./js/laboratorio/lewis/toolbox.js"></script>
<%   break;
} %>



</html>
