body{
background-color: #434343ff;
}

.container{
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.box{
display: inline-block;
background-color: #232323;
width: 40dvh;
height: 20dvh;
border: 1dvh solid white;
border-radius: 1dvh; 
font-size: 3dvh;
color: white;
}
