<button class="btn-check" onclick="pop([1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])">
  <div class="fila2 columna1 checkBox noMetales"></div>
  <div class="fila2 columna1 clasificacion"> NO METALES</div>
</button>

<button class="btn-check" onclick="pop([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1])">
  <div class="fila1 columna2 checkBox metalesAlcalinos"></div>
  <div class="fila1 columna2 clasificacion"> METALES ALCALINOS</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1])">
  <div class="fila1 columna3 checkBox alcalinoTerreos"></div>
  <div class="fila1 columna3 clasificacion"> ALCALINOTERREOS</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1])">
  <div class="fila1 columna4 checkBox metalesTransicion"></div>
  <div class="fila1 columna4 clasificacion"> METALES DE TRANSICION</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1])">
  <div class="fila2 columna2 checkBox otrosMetales"></div>
  <div class="fila2 columna2 clasificacion"> OTROS METALES</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1])">
  <div class="fila2 columna3 checkBox metaloides"></div>
  <div class="fila2 columna3 clasificacion"> METALOIDES</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1])">
  <div class="fila2 columna4 checkBox halogenos"></div>
  <div class="fila2 columna4 clasificacion"> HALOGENOS</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1])">
  <div class="fila3 columna2 checkBox gasesNobles"></div>
  <div class="fila3 columna2 clasificacion"> GASES NOBLES</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1])">
  <div class="fila3 columna3 checkBox lantanidos"></div>
  <div class="fila3 columna3 clasificacion"> LANTANIDOS</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1])">
  <div class="fila3 columna4 checkBox actinidos"></div>
  <div class="fila3 columna4 clasificacion"> ACTINIDOS</div>
</button>

<button class="btn-check" onclick="pop([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])">
  <div class="fila1 columna1 checkBox noEspecifico"></div>
  <div class="fila1 columna1 clasificacion"> SELECCIONAR TODOS</div>
</button>

<button class="btn-check" onclick="pop([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1])">
  <div class="fila3 columna1 checkBox noEspecifico"></div>
  <div class="fila3 columna1 clasificacion"> DESCARTAR TODOS</div>
</button>